.label {
    -fx-border-width: 0;
    -fx-padding: 8 12 8 12;
    -fx-background-radius: 18 18 4 18;
    -fx-background-color: #ff9644;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
}

.reply-label {
    -fx-border-width: 0;
    -fx-padding: 8 12 8 12;
    -fx-background-radius: 18 18 18 4;
    -fx-background-color: #ffce99;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 2, 2);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

.error-label {
    -fx-background-color: #ff9b99;
}