.root {
    main-color: #fffdf1; /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-font-size: 13px;
}

.text-field {
    -fx-background-color: #f4efe9;
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #683321;
    -fx-font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #d99d87;
}

.button:pressed {
    -fx-background-color: #f28705;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px; /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #ffe3d2;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
